.box {
    width: 100px;
    height: 100px;
    border: 2px solid indianred;
    overflow: hidden;
    /* свойство hiidden скрывает содержимое выходящее за пределы внутри рамки помимо свойства hidden есть другие: scroll позволяет прокручивать содержимое которое не влезает в блок, но минус этого что оно будет работать даже с теми элементами которын не выходят за рамка,
    auto автоматически выбирает какой тип использовать если влезает то оставить как есть, если выходит за рамки, то уже скролить страницу, clip задает строгое правило скрытия содержимого внутри рамок, что даже через
    javascript нельзя будет это исправить, только hidden поддается изменению через JS
    автоматическое свойство это visible все содержимое выходит за рамки */
}