.nav-bar {
    display: flex;

    border-bottom: 2px solid rgb(197, 197, 197);
    /* background-color: lightskyblue; */
    gap: 10px;
    align-items: center;
    
}

.nav-element-lang {
    color: rgb(129, 125, 125);
    padding: 10px;
    text-align: center;
    border-right: 1px solid rgb(224, 221, 221);
}

.nav-bar-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    column-count: 2;
    align-items: flex-start;
    width: 100%;
}

.panel-left { 
    width: 20%;
    height: 100vh;
    background-color: rgb(240, 239, 239);
    color: rgb(129, 125, 125);
    border-right: 1px solid rgb(224, 221, 221);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    


}

.nav-element {
    padding-bottom: 20px;
}

.icon {
    width: 5%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}
.icon-1 {
    padding-top: 20px;
    padding-bottom: 50px;
}

.basic {
    width: 75%;
}


a {
    color: gray;
    text-decoration: none;
}

.none {
    background-color: white;
}

.nav-icon{
    padding-right: 10px;
    justify-content: center;
}

h1 {
    text-align: center;
}

.banner {
    background-image: 
    url(type.jpg);
    height: 600px;
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
}

.header1{
    text-align: center;
    background-color: rgb(205, 243, 170);
    margin-top: 40px;
    margin-bottom: 40px;
}
.header2{
    background-color: rgb(189, 189, 184);
}
.funcs {
    width: 350px;
    height: 350px;
}

ol {
    background-color:rgb(206, 208, 209) ;
}
li {
    background-color: rgb(235, 235, 235);
    padding-left: 5px;
    height: 20px;
    padding-top: 10px;
}

span {
    background-color: rgb(235, 235, 235);
}

.foot{
    background-color: rgb(231, 223, 241);
}

.password {
    mask-type: alpha;
}
.box {
    margin: 500px;
}
.log {
    display: inline;
    color: #f70505;
}
.numbers {
    display: inline;
    color: rgb(206, 26, 146);
}

.text {
    display: inline;
    color: rgb(150, 197, 80);
}

.let {
    display: inline;
    color:rgb(84, 148, 148)
}

.boxes {
    border: 2px solid rgb(221, 215, 211);
    margin: 10px ;
    padding: 5px;
}

.none {
    background-color: white;
    height: auto;
    padding-left: 10px;
}

.coube {
    display: inline;
    background-color: hsl(46, 80%, 71%);
    color: orange;
    border: 1px solid gray;
}
.coube2{
    display: inline;
    background-color: hsl(46, 80%, 71%);
    border: 1px solid gray;
}
.coube3 {
    display: inline;
    background-color: hsl(46, 80%, 71%);
    color: orange;
}
.comments {
    color: gray;
}
/* .li1 {
    background-color: rgb(235, 235, 235);
}

ul li ol li {
    background:  rgb(235, 235, 235);
} */
