.flex-container {
    background-color: lightskyblue;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.flex-element {
    background-color: lightgreen;
    padding: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid ;
}

.gap-50 {
    gap: 50px;
}

.column-gap-50 {
    column-gap: 50px;
}

.row-gap-50 {
    row-gap: 50px;
}