.emoji-pseudo::before {
    content: "👉";
}

.emoji-pseudo::after {
    content: "👈";
}

.gray-box-pseudo {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: lightskyblue;
}

.gray-box-pseudo::after {
    content: "";
    position: absolute;
    background-color: darkgray;
    left: 90%;
    width: 100%;
    height: 100%;
    top: 10px;
}

.image-pseudo::after {
    content: url('https://uploads.scratch.mit.edu/get_image/user/10929178_60x60.png');
}

.after-pseudo::after {
    content: attr(data-example);
    color: red;
}

.quote-pseudo::before {
    content: open-quote;
}