.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.inline-grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.grid-element {
    background-color: lightskyblue;
}


.grid-container2 {
    display: grid;
    gap: 10px;
    grid-template-columns: [first] 50px [second] 70% [third] auto   ;   
}

.grid-container3 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 150px) repeat(3, 50px);
}


.grid-container4 {
    display: grid;
    gap: 10px;
    grid-template-columns: minmax(200px, 35%) 1fr 50px;
}