.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: [start] 1fr [middle-before] 1fr [middle-after] 1fr [end];
    grid-auto-rows: 50px;
    align-items: normal;
}

.grid-element {
    background-color: lightskyblue;
}


.big {
    /* grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 3; это позволяет одному столбцу занять больше чем он занимает в данном примере 2 столба и две строки
    есть сокращенная
    запись для этого кода ниже*/
    /* grid-column: 2/4;
    grid-row: 1/3; 
    ниже еще один пример как можно реализовать данный пример с использованием именнованых параметров в родительском элементе*/
    /* grid-column: middle-before / end;
    grid-row: 1/3 
    и ниже еще один пример с использованием span не html тег, тут другон значение если поставить span 2 то элемент займет два столбца и автоматически подберет сетку для контейнера */
    grid-column: span 2;  
    grid-row: 1/3;  
}