.box-1 {
    background-color: lightseagreen;
    width: 200px;
    height: 200px;
    position: static;

    /* При статическом
     позиционировании
     будут игнорироваться : */

    top: 50px;
    left: 100px;
    z-index: 333;
}   

h1 {
    /* Значение по умолчанию */
    position: static;
}

